In [1]:
#importing required Modules
import spotipy
from spotipy.oauth2 import SpotifyOAuth
import pandas as pd

# Set up Spotify API credentials
SPOTIPY_CLIENT_ID = 'b2482efc6ec54f3993b123a75e7a7a75'
SPOTIPY_CLIENT_SECRET = '341d0a8c402e442ea5d73ab9ed913475'
SPOTIPY_REDIRECT_URI = 'http://localhost:3000'

# Set up Spotify API authentication
sp = spotipy.Spotify(auth_manager=SpotifyOAuth(client_id=SPOTIPY_CLIENT_ID,
                                               client_secret=SPOTIPY_CLIENT_SECRET,
                                               redirect_uri=SPOTIPY_REDIRECT_URI,
                                               scope='playlist-read-private'))

## Top Hindi Tracks And Artists 2023

In [2]:
# Get tracks from the Top Hindi Tracks of 2023 playlist
tracks = sp.playlist_tracks('37i9dQZF1DXdf5QlS7TLuX', limit=100)

# Extract relevant information from the tracks
track_data = []
for track in tracks['items']:
    track_data.append({
        'Track Name': track['track']['name'],
        'Artists': ', '.join([artist['name'] for artist in track['track']['artists']]),
        'Popularity': track['track']['popularity']
    })

# Convert data to DataFrame
df = pd.DataFrame(track_data)

In [3]:
# Get artist data from the Top Hindi artists of 2023 playlist
arts = sp.playlist_tracks('37i9dQZF1DX5zs2btBfPWm', limit=100)

# Extract relevant information from the tracks
art_data = []
for art in arts['items']:
    art_data.append({
        'Track Name': art['track']['name'],
        'Artists': ', '.join([artist['name'] for artist in art['track']['artists']]),
        'Popularity': art['track']['popularity']
    })

# Convert data to DataFrame
df1 = pd.DataFrame(art_data)

## Top 10 Hindi Tracks  2023

In [4]:
ht = df.sort_values(by = "Popularity",ascending = False).head(10)
ht.style.hide()

## Top 10 Hindi Artists

In [23]:
ha = df1.sort_values(by = "Popularity",ascending = False).head(10)
ha1 = ha[["Artists","Popularity"]]
artists_split = ha1['Artists'].str.split(', ', expand=True)
ha1['Artist 1'] = artists_split[0]
ha1['Artist 2'] = artists_split[1]
ha1['Artist 3'] = artists_split[2]
ha1['Artist 4'] = artists_split[3]
ha1['Artist 5'] = artists_split[4]
f_ha = ha1[["Artist 1","Artist 2","Artist 3","Artist 4","Artist 5","Popularity"]]
f_ha.style.hide()

## Top Global Tracks And Artists 2023

In [6]:
# Get tracks from the Top Global Tracks of 2023 playlist
tracks1 = sp.playlist_tracks('37i9dQZF1DX18jTM2l2fJY', limit=100)

# Extract relevant information from the tracks
track1_data = []
for track1 in tracks1['items']:
    track1_data.append({
        'Track Name': track1['track']['name'],
        'Artists': ', '.join([artist['name'] for artist in track1['track']['artists']]),
        'Popularity': track1['track']['popularity']
    })

# Convert data to DataFrame
df_g = pd.DataFrame(track1_data)

In [7]:
# Get artist data from the Top Global Artist of 2023 playlist
arts1 = sp.playlist_tracks('37i9dQZF1DX9lzz0FRAxgl', limit=100)

# Extract relevant information from the tracks
art1_data = []
for art1 in arts1['items']:
    art1_data.append({
        'Track Name': art1['track']['name'],
        'Artists': ', '.join([artist['name'] for artist in art1['track']['artists']]),
        'Popularity': art1['track']['popularity']
    })

# Convert data to DataFrame
df_ga = pd.DataFrame(art1_data)

## Top 10 Global Tracks 2023

In [8]:
gt = df_g.sort_values(by = "Popularity",ascending = False).head(10)
gt.style.hide()

## Top 10 Global Artists 2023

In [25]:
ga = df_ga.sort_values(by = "Popularity",ascending = False).head(10)
x = ga[["Artists","Popularity"]]
x.style.hide()

## Top Bhojpuri Tracks And Artists 2023

In [10]:
# Get tracks from the Top bhojpuri Tracks of 2023 playlist
tracks2 = sp.playlist_tracks('37i9dQZF1DWYwZoY5GUEm6', limit=100)

# Extract relevant information from the tracks
track2_data = []
for track2 in tracks2['items']:
    track2_data.append({
        'Track Name': track2['track']['name'],
        'Artists': ', '.join([artist['name'] for artist in track2['track']['artists']]),
        'Popularity': track2['track']['popularity']
    })

# Convert data to DataFrame
df_b = pd.DataFrame(track2_data)

In [11]:
# Get artist data  from the Top bhojpuri artists of 2023 playlist
arts2 = sp.playlist_tracks('37i9dQZF1DX1P3EUSp0Xed', limit=100)

# Extract relevant information from the tracks
art2_data = []
for art2 in arts2['items']:
    art2_data.append({
        'Track Name': art2['track']['name'],
        'Artists': ', '.join([artist['name'] for artist in art2['track']['artists']]),
        'Popularity': art2['track']['popularity']
    })

# Convert data to DataFrame
df_ba = pd.DataFrame(art2_data)

## Top 10 Bhojpuri Tracks 2023

In [12]:
bt = df_b.sort_values(by = "Popularity",ascending = False).head(10)
bt.style.hide()

## Top 10 Bhojpuri Artists 2023

In [28]:
ba = df_ba.sort_values(by = "Popularity" , ascending = False).head(10)
z = ba[["Artists","Popularity"]]
artists_split1 = z['Artists'].str.split(', ', expand=True)
z['Artist 1'] = artists_split1[0]
z['Artist 2'] = artists_split1[1]
z['Artist 3'] = artists_split1[2]
f_ba = z[["Artist 1","Artist 2","Artist 3","Popularity"]]
f_ba.style.hide()